---
layout: default
description: A community-driven effort to make web accessibility easier.
---

{% if paginator.previous_page %}
	{% for post in paginator.posts %}
    <div class="post">
			<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
			<div class="meta"><span>{{ post.date | date: "%b" }} {{ post.date | date: "%d" }}</span><span class="comma">,</span> <span class="year">{{ post.date | date: "%Y" }}</span></div>
		 	<p>{{ post.excerpt }} <a href="{{ post.url }}">Read&nbsp;more</a></p>
		</div>
  {% endfor %}

	{% if paginator.previous_page == 1 %}
    <a href="/blog" class="prev">Newer Posts →</a>
  {% else %}
    <a href="/page{{paginator.previous_page}}" class="prev">Newer Posts →</a>
  {% endif %}
	{% if paginator.next_page %}
  	<a href="/page{{paginator.next_page}}" class="next">← Older Posts</a>
	{% endif %}

{% else %}
	<p>
		<img class="thumb" src="/images/me.jpg" height="114" alt="Bryan Stedman"> Well hello, I'm Bryan. A lot of my time is spent building things for the web, but sometimes I like to brew my own beer or play drums. What I really like doing is spending time with my <a href="http://bethstedman.com">beautiful wife</a> and two lovely kids. Right now I call Seattle home but I have lived in a number of places including Prague. 
	</p>
	<section>
		<div class="block">
			<h2 class="ribbon">
				<span>Latest Writings</span>
			</h2>
		</div>
		{% for post in site.posts limit: 2 %}
	    <div class="post">
	      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
	      <div class="meta"><span>{{ post.date | date: "%b" }} {{ post.date | date: "%d" }}</span><span class="comma">,</span> <span class="year">{{ post.date | date: "%Y" }}</span></div>
	      <p>{{ post.excerpt }} <a href="{{ post.url }}">Read&nbsp;more</a></p>
	    </div>
	  {% endfor %}
      <a href="/blog" class="prev">See more posts</a>
	</section>
{% endif %}