@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.svg#icomoon') format('svg'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon-feed:before, .icon-dribbble:before, .icon-instagram:before, .icon-forrst:before, .icon-codepen:before, .icon-envelope:before, .icon-lastfm:before, .icon-googleplus:before, .icon-facebook:before, .icon-github:before, .icon-twitter:before, .icon-github-2:before, .icon-pinterest:before, .icon-linkedin:before, .icon-spotify:before, .icon-reddit:before, .icon-mail:before, .icon-lastfm-2:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-feed:before {
	content: "\72";
}
.icon-dribbble:before {
	content: "\64";
}
.icon-instagram:before {
	content: "\69";
}
.icon-forrst:before {
	content: "\73";
}
.icon-codepen:before {
	content: "\67";
}
.icon-envelope:before {
	content: "\61";
}
.icon-lastfm:before {
	content: "\31";
}
.icon-googleplus:before {
	content: "\6f";
}
.icon-facebook:before {
	content: "\34";
}
.icon-github:before {
	content: "\25";
}
.icon-twitter:before {
	content: "\74";
}
.icon-github-2:before {
	content: "\23";
}
.icon-pinterest:before {
	content: "\29";
}
.icon-linkedin:before {
	content: "\2a";
}
.icon-spotify:before {
	content: "\2e";
}
.icon-reddit:before {
	content: "\30";
}
.icon-mail:before {
	content: "\32";
}
.icon-lastfm-2:before {
	content: "\f09b";
}




/* Regular */
@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothic-italic-webfont.eot');
    src: url('../fonts/leaguegothic-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-italic-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-italic-webfont.ttf') format('truetype'),
         url('../fonts/leaguegothic-italic-webfont.svg#league_gothic_italicregular') format('svg');
    font-weight: normal;
    font-style: italic;

}

/* Italic */
@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Condensed */
@font-face {
    font-family: 'League Gothic Condensed';
    src: url('../fonts/leaguegothic-condensed-regular-webfont.eot');
    src: url('../fonts/leaguegothic-condensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-condensed-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-condensed-regular-webfont.ttf') format('truetype'),
         url('../fonts/leaguegothic-condensed-regular-webfont.svg#league_gothic_condensed-Rg') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Condensed Italic */
@font-face {
    font-family: 'League Gothic Condensed';
    src: url('../fonts/leaguegothic-condensed-italic-webfont.eot');
    src: url('../fonts/leaguegothic-condensed-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-condensed-italic-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-condensed-italic-webfont.ttf') format('truetype'),
         url('../fonts/leaguegothic-condensed-italic-webfont.svg#league_gothic_condensed_itaRg') format('svg');
    font-weight: normal;
    font-style: italic;
}
