<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bryan Stedman</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="container">
      <h1>Hello there. I am <strong>Bryan Stedman</strong></h1>
      <p>Sometimes I build things for the web.</p>
      <ul class="social">
        <li><a href="http://github.com/bryanstedman"><img src="/img/github.svg" class="social-icon"></a></li>
        <li><a href="http://twitter.com/bryanstedman"><img src="/img/twitter.svg" class="social-icon"></a></li>
      </ul>
    </div>
  </body>
</html>
